body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  background-color: #e5e5e5;
}

.sidebar-container {
  border: 1px solid red;
  width: 400px;
  background-color: #fff;
}
.sidebar-container .sidebar-image {
  border: 1px solid white;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 50px;
  margin: 50px auto 0 auto;
  background-image: url("../assets/profile_image.jpg");
  background-size: contain;
}
.sidebar-container .sidebar-name {
  margin: 30px auto 0 auto;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #2b2b2b;
}
.sidebar-container .sidebar-expertise {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  color: #767676;
  margin-top: 15px;
}
.sidebar-container .sidebar-social-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
}
.sidebar-container .sidebar-social-container .sidebar-social-element {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffb400;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-left: 15px;
}
.sidebar-container .sidebar-line-container {
  display: flex;
  justify-content: center;
}
.sidebar-container .sidebar-line-container .sidebar-line {
  width: 220px;
  height: 0px;
  border: 1px #f0f0f6 solid;
  margin-top: 25px;
}
.sidebar-container .sidebar-info {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
.sidebar-container .sidebar-info .sidebar-info-flex-container {
  width: 55%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.sidebar-container .sidebar-info .sidebar-info-flex-container .sidebar-info-row {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sidebar-container .sidebar-info .sidebar-info-flex-container .sidebar-info-row .sidebar-info-subject {
  background-color: #ffb400;
  padding: 1px 8px 1px 5px;
}
.sidebar-container .sidebar-info .sidebar-info-flex-container .sidebar-info-row .sidebar-info-subject,
.sidebar-container .sidebar-info .sidebar-info-flex-container .sidebar-info-row .sidebar-info-value {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
.sidebar-container .sidebar-language {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
.sidebar-container .sidebar-language .sidebar-language-flex-container {
  width: 55%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.sidebar-container .sidebar-language .sidebar-language-flex-container .sidebar-language-row {
  margin-bottom: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sidebar-container .sidebar-language .sidebar-language-flex-container .sidebar-language-row .sidebar-language-subject,
.sidebar-container .sidebar-language .sidebar-language-flex-container .sidebar-language-row .sidebar-language-value {
  color: #767676;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
.sidebar-container .sidebar-language .sidebar-language-flex-container .sidebar-language-row .sidebar-language-subject.sidebar-language-title {
  font-weight: 500;
  font-size: 18px;
  color: #2b2b2b;
}
.sidebar-container .sidebar-contact-information {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
.sidebar-container .sidebar-contact-information .sidebar-contact-information-flex-container {
  width: 55%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.sidebar-container .sidebar-contact-information .sidebar-contact-information-flex-container .sidebar-contact-information-row {
  margin-bottom: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sidebar-container .sidebar-contact-information .sidebar-contact-information-flex-container .sidebar-contact-information-row .sidebar-contact-information-subject,
.sidebar-container .sidebar-contact-information .sidebar-contact-information-flex-container .sidebar-contact-information-row .sidebar-contact-information-value {
  color: #767676;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
.sidebar-container .sidebar-contact-information .sidebar-contact-information-flex-container .sidebar-contact-information-row .sidebar-contact-information-subject.sidebar-contact-information-title {
  font-weight: 500;
  font-size: 18px;
  color: #2b2b2b;
}
.sidebar-container .sidebar-proficiency {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
.sidebar-container .sidebar-proficiency .sidebar-proficiency-flex-container {
  width: 55%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.sidebar-container .sidebar-proficiency .sidebar-proficiency-flex-container .sidebar-proficiency-row {
  margin-bottom: 18px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.sidebar-container .sidebar-proficiency .sidebar-proficiency-flex-container .sidebar-proficiency-row .sibebar-language-nonsence-svg {
  margin-right: 15px;
}
.sidebar-container .sidebar-proficiency .sidebar-proficiency-flex-container .sidebar-proficiency-row .sidebar-proficiency-subject {
  color: #767676;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
.sidebar-container .sidebar-proficiency .sidebar-proficiency-flex-container .sidebar-proficiency-row .sidebar-proficiency-subject.sidebar-proficiency-title {
  font-weight: 500;
  font-size: 18px;
  color: #2b2b2b;
}
.sidebar-container .sidebar-cv-download-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
.sidebar-container .sidebar-cv-download-container .sidebar-cv-button {
  width: 220px;
  height: 40px;
  background-color: #ffb400;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.sidebar-container .sidebar-cv-download-container .sidebar-cv-button .sidebar-cv-content {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  margin-right: 20px;
}

.right {
  flex-direction: column;
  flex-grow: 3;
}
.right .intro-container {
  width: 970px;
  height: 531.9px;
  background-color: #fff;
  margin-left: 30px;
  margin-right: 21px;
  display: flex;
}
.right .intro-container .intro-left {
  width: 560px;
}
.right .intro-container .intro-left .introduction-brief {
  width: 500px;
  height: 134.4px;
  margin-left: 60px;
  padding-top: 105.92px;
  margin-bottom: 20.5px;
  font-size: 48px;
  color: #2b2b2b;
}
.right .intro-container .intro-left .introduction-brief #job {
  color: #ffb400;
}
.right .intro-container .introduction-bio {
  width: 424px;
  height: 100.23px;
  margin-left: 60px;
  margin-top: 20.5px;
  margin-bottom: 28.47px;
  font-size: 16px;
  color: #767676;
}
.right .intro-container .Hire-btn {
  background-image: url(../assets/Hire_me.jpg);
  width: 154px;
  height: 51px;
  margin-left: 60px;
  margin-top: 28.47px;
  margin-bottom: 91.37px;
  cursor: pointer;
}
.right .intro-container .intro-right {
  width: 410px;
}
.right .intro-container .intro-right .intro-image {
  background-image: url(../assets/profile_image.jpg);
  width: 325.72px;
  height: 522.89px;
  margin-left: 26.68px;
  margin-right: 57.6px;
  margin-top: 9.11px;
  margin-bottom: -150px;
}
.right .services-container {
  width: 970px;
  height: 726px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right .services-container .services-title {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px;
  font-size: 32px;
  font-weight: 700;
  color: #2b2b2b;
  justify-content: center;
  padding-top: 73.1px;
  padding-bottom: 25px;
}
.right .services-container .services-desc {
  display: flex;
  justify-content: center;
  width: 438px;
  height: 68px;
  font-weight: 400;
  font-size: 15px;
  color: #767676;
  padding-top: 25px;
  padding-bottom: 50px;
}
.right .services-container .services-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 970px;
  height: 618px;
}
.right .services-container .services-items .s-item1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 310px;
  height: 225px;
  margin-bottom: 20px;
}
.right .services-container .services-items .s-item1 .s-item-photo1 {
  width: 65.88px;
  height: 53.13px;
  margin-top: 35.44px;
}
.right .services-container .services-items .s-item1 .s-item-title1 {
  width: 158px;
  height: 22px;
  color: #2b2b2b;
  font-weight: 500;
  align-items: center;
  font-size: 18px;
  margin-top: 33.44px;
}
.right .services-container .services-items .s-item1 .s-item-desc1 {
  width: 134px;
  height: 24px;
  color: #767676;
  font-weight: 400;
  justify-content: center;
  font-size: 15px;
  margin-top: 15px;
}
.right .services-container .services-items .s-item2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 310px;
  height: 225px;
}
.right .services-container .services-items .s-item2 .s-item-photo2 {
  width: 68px;
  height: 66.8px;
  margin-top: 35.44px;
}
.right .services-container .services-items .s-item2 .s-item-title2 {
  width: 158px;
  height: 22px;
  color: #2b2b2b;
  font-weight: 500;
  align-items: center;
  font-size: 18px;
  margin-top: 26.6px;
  margin-left: 65px;
}
.right .services-container .services-items .s-item2 .s-item-desc2 {
  width: 200px;
  height: 24px;
  color: #767676;
  font-weight: 400;
  justify-content: center;
  font-size: 15px;
  margin-top: 15px;
}
.right .services-container .services-items .s-item3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 310px;
  height: 225px;
}
.right .services-container .services-items .s-item3 .s-item-photo3 {
  width: 74px;
  height: 74px;
  margin-top: 35.44px;
}
.right .services-container .services-items .s-item3 .s-item-title3 {
  width: 120px;
  height: 22px;
  color: #2b2b2b;
  font-weight: 500;
  align-items: center;
  font-size: 18px;
  margin-top: 26.6px;
}
.right .services-container .services-items .s-item3 .s-item-desc3 {
  width: 175px;
  height: 24px;
  color: #767676;
  font-weight: 400;
  justify-content: center;
  font-size: 15px;
  margin-top: 15px;
}
.right .services-container .services-items .s-item4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 310px;
  height: 225px;
}
.right .services-container .services-items .s-item4 .s-item-photo4 {
  width: 74px;
  height: 69.38px;
  margin-top: 35.31px;
}
.right .services-container .services-items .s-item4 .s-item-title4 {
  width: 115px;
  height: 22px;
  color: #2b2b2b;
  font-weight: 500;
  align-items: center;
  font-size: 18px;
  margin-top: 23.31px;
}
.right .services-container .services-items .s-item4 .s-item-desc4 {
  width: 246px;
  height: 24px;
  color: #767676;
  font-weight: 400;
  justify-content: center;
  font-size: 15px;
  margin-top: 18px;
}
.right .services-container .services-items .s-item5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 310px;
  height: 225px;
}
.right .services-container .services-items .s-item5 .s-item-photo5 {
  width: 71.44px;
  height: 78px;
  margin-top: 25px;
}
.right .services-container .services-items .s-item5 .s-item-title5 {
  width: 111px;
  height: 22px;
  color: #2b2b2b;
  font-weight: 500;
  align-items: center;
  font-size: 18px;
  margin-top: 25px;
}
.right .services-container .services-items .s-item5 .s-item-desc5 {
  width: 213px;
  height: 24px;
  color: #767676;
  font-weight: 400;
  justify-content: center;
  font-size: 15px;
  margin-top: 18px;
}
.right .services-container .services-items .s-item6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 310px;
  height: 225px;
}
.right .services-container .services-items .s-item6 .s-item-title6 {
  margin-top: 31px;
  width: 99px;
  height: 22px;
  color: #2b2b2b;
  font-weight: 500;
  align-items: center;
  font-size: 18px;
}
.right .services-container .services-items .s-item6 .s-item-desc6 {
  width: 260px;
  height: 78px;
  color: #767676;
  margin-top: 22px;
  justify-content: center;
}
.right .services-container .services-items .s-item6 .order {
  height: 14px;
  color: #ffb400;
  font-size: 12px;
  font-weight: 700;
  justify-content: center;
  margin-top: 30px;
}/*# sourceMappingURL=index.css.map */